# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# IDE / Editor config
# PyCharm / IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Log / temp files
*.log
*.tmp
*.bak
